<nav class="navbar navbar-expand-lg navbar">
  <a class="navbar-brand" href="#">TVPlus</a>
  <!-- Boton de Home -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Lista de iconos del navbar -->

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Películas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Caricaturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Novedades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Mi lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Vuelve a ver</a>
      </li>
    </ul>
  </div>
  <!-- Boton que manda para "Acerca de está página" -->

  <button type="button" class="btn btn-danger btn-lg" [routerLink]="'/informacion'"><strong>Acerca de esta Página</strong>
</button>
</nav>